<!-- Remote Projects JS -->
<script src="{{ '/assets/js/remote-projects.js' | relative_url }}"></script>

<div class="card-columns m-3 mt-5">

  <!-- Remote Projects -->
  {% for remote_project in page.remote_projects %}

    {%- for repo in site.github.public_repositories -%}
      {%- if remote_project == repo.name -%}
        {%- assign project = repo -%}
      {%- endif -%}
    {%- endfor -%}

    {%- assign words = project.name | split: '-' -%}
    {%- capture titlecase -%}
      {%- for word in words -%}
        {{ word | capitalize | append: ' ' }}
      {%- endfor -%}
    {%- endcapture -%}

    {%- assign project_type = "remote" -%}
    {%- assign project_id   = project.name -%}
    {%- assign project_img  = false -%}
    {%- assign project_name = titlecase | strip -%}
    {%- assign project_desc = project.description -%}
    {%- assign project_url  = project.html_url -%}

    {% include projects/project-card.html %}

    <script>get_tools("{{ site.github.owner_name }}/{{ remote_project }}")</script>

  {% endfor %}

  <!-- Local Projects -->
  {% assign allprojects = site.projects | concat: site.projects_wip %}
  {% if site.testing %}
    {% assign allprojects = allprojects | concat: site.projects_test %}
  {% endif %}

  {% assign allprojects = allprojects | sort: "cardorder" %}

  {% for project in allprojects %}

    {%- assign project_type  = "local" -%}
    {%- assign project_id    = project.name | slugify -%}
    {%- assign project_img   = project.image -%}
    {%- assign project_name  = project.name -%}
    {%- assign project_desc  = project.description -%}
    {%- assign project_tools = project.tools -%}

    {%- if project.external_url -%}
      {%- assign project_url = project.external_url -%}
    {%- else -%}
      {%- assign project_url = project.url | relative_url -%}
    {%- endif -%}

    {%- if project.category -%}
      {%- assign project_category = project.category -%}
      {%- if project.special_category -%}
        {%- assign bg_proj = "bg-light border-primary" -%}
        {%- assign color_label = "text-primary" -%}
      {%- else -%}
        {%- assign bg_proj = "bg-light border-secondary" -%}
        {%- assign color_label = "text-secondary" -%}
      {%- endif -%}
    {%- else -%}
      {%- assign project_category = "default" -%}
      {%- assign bg_proj = "" -%}
    {%- endif -%}

    {% include projects/project-card.html %}

  {% endfor %}

</div>
