<div class="wow animated fadeIn" data-wow-delay=".15s">
	<a href="{{ project_url }}" class="project card {{ bg_proj }} text-dark">
    {%- if project_img -%}
    <img id="{{ project_id }}-img" class="card-img-top" src="{{ project_img }}" alt="{{ project_name }}" />
    {%- endif -%}
    <div class="card-body">
      <h5 id="{{ project_id }}-name" class="card-title">
          {%- if project_type == "remote" -%}
          <i class="fab fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="GitHub Repository"></i> |&nbsp;
          {%- endif -%}
        {{ project_name }}

      {%- unless project_category == "default" -%}
      <span class="{{ color_label }}" style="font-size:0.8rem; vertical-align:text-top">
      <i>{{ project_category }}</i>
      </span>
      {%- endunless -%}
      </h5>
      <p id="{{ project_id }}-desc" class="card-text">{{ project_desc }}</p>
      <p id="{{ project_id }}-tools" class="card-text">
        {%- for tool in project_tools -%}
        <span class="badge badge-pill text-primary border border-primary ml-1">{{ tool }}</span>
        {%- endfor -%}
      </p>
    </div>
  </a>
</div>
