<footer class="mt-auto py-3 text-center">

  <small class="text-muted mb-2">
    Contact {{ site.author.name }}:
  </small>

  {% include social.html %}

  {%- assign theme_name = "portfolYOU" -%}
  {%- assign theme_repo = "https://github.com/YoussefRaafatNasry/portfolYOU" -%}
  <small class="text-muted mb-2">
    &mdash;</br>
    theme <a href="{{ theme_repo }}">{{ theme_name }}</a>
  </small>
  
</footer>
