<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">

  <title>{{ site.title }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ '/assets/css/all.css' | relative_url }}">

  <!-- Fork Awesome -->
  <link rel="stylesheet" href="{{ '/assets/css/fork-awesome.min.css' | relative_url }}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">

  <!-- Animate CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/animate.css' | relative_url }}" type="text/css"/>
  
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" type="text/css">

</head>
