{% if page.mathjax %}

<script src="{{ '/assets/js/mathjax/tex-mml-svg.js' | relative_url }}" type="text/javascript" charset="utf-8" id="MathJax-script" defer> </script>
<script src="{{ '/assets/js/mathjax/mathjax-local.js' | relative_url }}" type="text/javascript" charset="utf-8" defer> </script>

{% endif %}
