<!-- GitHub Buttons -->
<script async defer src="{{ '/assets/js/buttons.js' | relative_url }}"></script>

<!-- jQuery -->
<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>

<!-- Popper.js -->
<script src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>

<!-- Bootstrap JS -->
<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>

<!-- wow.js & Activation -->
<script src="{{ '/assets/js/wow.js' | relative_url }}"></script>
<script> new WOW().init(); </script>

<!-- Initialize all tooltips -->
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>
