{%- assign imgellines = imgels | strip | newline_to_br | split: '<br />' -%}
{% assign imgelcount = 0 %}
{%- for imgel in imgellines -%}
	{%- if imgelcount == 0 -%} {%- assign imgell = imgel -%}
	{%- elsif imgelcount == 1 -%} {%- assign imgelr = imgel -%}
	{%- endif -%}
	{%- assign imgelcount = imgelcount | plus:1 -%}
{%- endfor -%}

<figure class="figure w-100">
	<div class="row">
		<div class="col-md-6">
			{{ imgell }}
		  {%- if include.captionL -%}
		    <figcaption class="figure-caption text-center">{{ include.captionL }}</figcaption>
		  {%- endif -%}
		</div>
		<div class="col-md-6">
			{{ imgelr }}
		  {%- if include.captionR -%}
		    <figcaption class="figure-caption text-center">{{ include.captionR }}</figcaption>
		  {%- endif -%}
		</div>
	</div>
  {%- if include.caption -%}
    <figcaption class="figure-caption text-center">{{ include.caption }}</figcaption>
  {%- endif -%}
</figure>
