<figure class="figure w-100">
	{%- if include.imgel -%} {{ include.imgel }} {%- endif -%}
  {%- if include.caption -%}
    <figcaption class="figure-caption text-center">{{ include.caption }}</figcaption>
  {%- endif -%}
</figure>
