<div class="col mt-4">
  <div class="timeline-body">
    {% for item in site.data.timeline_work %}
      <div class="timeline-item">
        <div class="content">
          <h4>{{ item.title }}</h4>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
          <p>{{ item.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
